* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  #logo{
    width: 100%;
    height: 350px;
}

header{
    display:flex;
}
#gitignore{
    width: 30%;
}
.info{
    display:flex;
    padding: 5%;
}
.wrapper_text_info{
    padding-left: 2%;
}
.text_info{
    font-size: 30px;
   
}
ol{
    font-size: 25px;
    list-style-type: square;
    padding-left: 5%;
}
.header_logo{
    position: absolute;
    text-align:right;
    top: 80px;
    left: 60%;
    font-size: 650%;
}
